
#noteTitle {
    width:80%;
}

#saveButton, #newButton {
    position: relative;
    left: 5px;
    width:8%;
}

.noteButtons {
    margin: 5px;
}

body {
    padding: 25px;
    background-color: white;
    color: black;
}

.darkMode {
    background-color: black;
    color: white;
}

.lightMode {
    color: white;
}

.document {
    align-content:center;
}

.columnOne {
    background: skyblue;
    border-style: hidden;
    color: black;
    margin-left: 7%;
    margin-right: 7%;
    margin-top: 3%;
}

.columnTwo {
    background: skyblue;
    border-style: hidden;
    color: black;
    margin-left: 7%;
    margin-right: 7%;
    margin-top: 3%;
}

.columnThree {
    background: skyblue;
    border-style: hidden;
    color: black;
    margin-left: 7%;
    margin-right: 7%;
    margin-top: 3%;
}

@media (max-width: 560px) {
    #youtubeVid {
        width: 100%;
    }
    
}
