
#noteTitle {
    width:80%;
}
#saveButton {
    position: relative;
    left: 5px;
    width:15%;
}
.noteButtons {
    margin: 5px;
/* =======
.document {
    align-content:center */
}


/* ============================ */

body {
    padding: 25px;
    background-color: white;
    color: black;
}

.darkMode {
    background-color: black;
    color: white;
}